# MongoDB Configuration
MONGO_USER=your_username
MONGO_PASS=your_password
MONGO_HOST=localhost
MONGO_PORT=27017
DB_NAME=test

# IP2Location Database Path
IP2LOCATION_DB=./data/IP-COUNTRY-REGION-CITY.BIN

# Output Settings
OUTPUT_FILE=ip_locations_2.csv
